body, h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

a:hover {
  text-decoration: none; }

a:focus {
  outline: none;
  text-decoration: none !important; }

body {
  margin: 0;
  background-color: salmon; }
  body #particles-js {
    position: absolute;
    background: #222222;
    height: 100vh;
    width: 100%;
    z-index: -999; }
  body .navbar {
    height: 80px;
    border: none;
    border-radius: 0;
    background: #323232;
    margin: 0;
    transition: all 300ms ease-in-out;
    z-index: 999; }
    body .navbar .container-fluid {
      max-width: 1000px; }
      body .navbar .container-fluid .navbar-brand {
        color: white;
        height: 80px;
        padding-top: 30px;
        padding-bottom: 30px;
        font-weight: 700;
        font-style: italic; }
      body .navbar .container-fluid ul li {
        padding-top: 15px; }
        body .navbar .container-fluid ul li a {
          color: lightgrey;
          padding-top: 15px;
          padding-bottom: 15px;
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase;
          transition: all 100ms ease-out; }
          body .navbar .container-fluid ul li a:hover {
            color: white; }
        body .navbar .container-fluid ul li .register {
          color: gold;
          padding: 15px 30px;
          box-shadow: 0px -1px 5px -1px black;
          transition: all 300ms ease-in-out; }
          body .navbar .container-fluid ul li .register:hover {
            background: gold;
            color: white;
            box-shadow: 2px 10px 10px -5px black; }
        body .navbar .container-fluid ul li:nth-child(1) a:hover {
          border-bottom: 2px solid mediumspringgreen; }
        body .navbar .container-fluid ul li:nth-child(2) a:hover {
          border-bottom: 2px solid slateblue; }
        body .navbar .container-fluid ul li:nth-child(3) a:hover {
          border-bottom: 2px solid gold; }
        body .navbar .container-fluid ul li:nth-child(4) a:hover {
          border-bottom: 2px solid dodgerblue; }
        body .navbar .container-fluid ul li:nth-child(5) a:hover {
          border-bottom: 2px solid salmon; }
    @media screen and (max-width: 800px) {
      body .navbar .navbar {
        background: #323232; } }
  body .hiddenNav {
    background: transparent; }
  body .thick {
    margin-top: 20px; }
    body .thick .navbar-brand {
      opacity: 0; }
  body header {
    height: 100vh;
    background: transparent;
    position: relative; }
    body header h1 {
      padding-top: 30vh;
      text-align: center;
      color: gold;
      font-weight: 700; }
      body header h1 svg {
        width: 50vw; }
      @media screen and (max-width: 641px) {
        body header h1 svg {
          width: 80vw; } }
    body header h3 {
      margin-top: 5vh;
      margin-bottom: 5vh;
      text-align: center;
      color: grey;
      line-height: 40px; }
    body header a {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      color: crimson;
      font-size: 18px;
      font-weight: 700;
      padding: 20px 100px;
      border-radius: 2px;
      box-shadow: 0px -2px 7px black;
      transition: all 300ms ease-in-out; }
      body header a:focus {
        text-decoration: none !important;
        color: crimson; }
      body header a:hover {
        background: crimson;
        color: white;
        box-shadow: 0px 20px 20px -15px black; }
  body #about {
    background: white;
    position: relative;
    background-attachment: fixed; }
    body #about .container {
      margin: 0 auto;
      max-width: 600px;
      padding: 18vh 0; }
      body #about .container h1 {
        font-size: 5rem;
        font-weight: 700;
        color: mediumspringgreen;
        line-height: 7rem;
        text-transform: uppercase;
        text-shadow: 2px 2px 2px grey;
        padding-bottom: 2rem; }
      body #about .container p {
        font-size: 20px;
        color: grey; }
  body #events {
    background: #222222; }
    body #events .container {
      padding: 20vh 5vw; }
      body #events .container h1 {
        text-align: center;
        font-size: 5rem;
        font-weight: 700;
        color: slateblue;
        line-height: 7rem;
        text-transform: uppercase;
        text-shadow: 2px 2px 2px black; }
      body #events .container .row {
        padding: 5vh 0; }
      body #events .container h3 {
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
        padding: 3rem 0;
        color: grey; }
      body #events .container .col-sm-4 {
        padding-top: 2vh; }
      body #events .container .card {
        height: 50vh;
        width: 100%;
        box-shadow: 0px 0px 7px black;
        background: #222222;
        -webkit-transition: all 0.15s ease-out 0s;
        -moz-transition: all 0.15s ease-out 0s;
        transition: all 0.15s ease-out 0s; }
        body #events .container .card h2 {
          text-align: center;
          line-height: 4vh;
          padding: 8vh 0;
          color: white; }
        body #events .container .card:hover {
          box-shadow: 0px 15px 50px -10px black; }
          body #events .container .card:hover .illustration {
            filter: contrast(180%); }
      body #events .container .one h2 {
        color: gold; }
      body #events .container .one .illustration {
        height: 30vh;
        width: 100%;
        background-image: url("https://cdn.dribbble.com/users/345022/screenshots/1117101/coding.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; }
      body #events .container .one:hover {
        background: gold; }
        body #events .container .one:hover h2 {
          color: white; }
      body #events .container .two h2 {
        color: crimson; }
      body #events .container .two .illustration {
        height: 30vh;
        width: 100%;
        background-image: url("https://cdn.dribbble.com/users/30976/screenshots/1918214/flat-nao.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; }
      body #events .container .two:hover {
        background: crimson; }
        body #events .container .two:hover h2 {
          color: white; }
      body #events .container .three h2 {
        color: dodgerblue; }
      body #events .container .three .illustration {
        height: 30vh;
        width: 100%;
        background-image: url("https://previews.123rf.com/images/vectorpro/vectorpro1501/vectorpro150100100/35997711-Vector-bridge-flat-icon-Stock-Vector.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; }
      body #events .container .three:hover {
        background: dodgerblue; }
        body #events .container .three:hover h2 {
          color: white; }
      body #events .container .four h2 {
        color: salmon; }
      body #events .container .four .illustration {
        height: 30vh;
        width: 100%;
        background-image: url("https://www.colourbox.com/preview/12460751-human-head-idea-vector-concept-illustration-in-flat-design-style-for-business-presentation-brochure-web-site-and-other-projects-human-head-with-light-bulb-gears-and-clouds-infographic-concept.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; }
      body #events .container .four:hover {
        background: salmon; }
        body #events .container .four:hover h2 {
          color: white; }
      body #events .container .five h2 {
        color: deeppink; }
      body #events .container .five .illustration {
        height: 30vh;
        width: 100%;
        background-image: url("https://go.spinweb.net/hs-fs/hub/165655/file-1131507510-png/images/blog/lightbulb-quiz.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; }
      body #events .container .five:hover {
        background: deeppink; }
        body #events .container .five:hover h2 {
          color: white; }
      body #events .container .six h2 {
        color: mediumspringgreen; }
      body #events .container .six .illustration {
        height: 30vh;
        width: 100%;
        background-image: url("https://kit8.net/images/thumbnails/700/525/detailed/1/Treasure_chest_flat_vector_illustration.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; }
      body #events .container .six:hover {
        background: mediumspringgreen; }
        body #events .container .six:hover h2 {
          color: white; }
  body #venue {
    background: pink; }
    body #venue iframe {
      position: absolute;
      height: 100%;
      width: 100%; }
    body #venue .contact {
      width: 100%;
      background: #222222;
      color: grey;
      margin: 15vh auto;
      max-width: 80%;
      border-radius: 3px;
      box-shadow: 5px 5px 20px black; }
      body #venue .contact h1 {
        padding: 2vh 0 0 0;
        text-align: center; }
      body #venue .contact p {
        margin: 0.5rem 0; }
      body #venue .contact .middle {
        max-width: 80%;
        margin: 5vh auto; }
        body #venue .contact .middle h3 {
          padding-top: 5vh;
          font-weight: 700;
          line-height: 5rem;
          color: salmon; }
        body #venue .contact .middle form {
          padding: 20px 0; }
          body #venue .contact .middle form h4 {
            color: dodgerblue;
            font-weight: 700;
            line-height: 3rem; }
          body #venue .contact .middle form input, body #venue .contact .middle form textarea {
            width: 100%;
            margin: 5px 0;
            padding: 7px 10px;
            border: none;
            background: #525252;
            outline: none;
            transition: all 300ms ease-in-out; }
            body #venue .contact .middle form input:focus, body #venue .contact .middle form textarea:focus {
              padding: 10px 10px; }
          body #venue .contact .middle form .submit {
            background: transparent;
            box-shadow: 0px 2px 5px black;
            color: mediumspringgreen;
            width: 60%;
            text-align: center;
            border-radius: 1px; }
            body #venue .contact .middle form .submit:hover {
              box-shadow: 0px 10px 10px -5px black;
              background: mediumspringgreen;
              color: white; }
  body .modal-content {
    background: #222222;
    color: white; }
    body .modal-content .modal-header {
      border: none; }
      body .modal-content .modal-header h2 {
        color: gold;
        text-align: center; }
    body .modal-content .modal-body {
      margin: 0 auto;
      max-width: 90%; }
      body .modal-content .modal-body h4, body .modal-content .modal-body h5, body .modal-content .modal-body p {
        padding: 0.5rem 0; }
      body .modal-content .modal-body .reg-fee {
        padding: 2rem 0; }
      body .modal-content .modal-body form {
        padding: 1rem 0;
        margin: 0 auto;
        max-width: 80%; }
        body .modal-content .modal-body form input, body .modal-content .modal-body form select {
          width: 100%;
          background: #525252;
          outline: none;
          border: none;
          padding: 1rem 0.5rem;
          margin: 0.5rem auto; }
        body .modal-content .modal-body form .submit {
          background: transparent;
          box-shadow: 0px 2px 5px black;
          color: slateblue;
          width: 60%;
          text-align: center;
          border-radius: 1px; }
          body .modal-content .modal-body form .submit:hover {
            background: slateblue;
            box-shadow: 0 10px 10px -5px black;
            color: white; }
      body .modal-content .modal-body .row .col-sm-4 {
        padding: 2rem; }
      body .modal-content .modal-body .row .member {
        box-shadow: 0px 0px 8px black; }
        body .modal-content .modal-body .row .member .avatar {
          height: 15rem;
          width: 100%;
          background-image: url("http://68.media.tumblr.com/198b7bed92a19512c6d57bfdf7ebcb0f/tumblr_oh6c6sEiXA1qao4slo1_1280.jpg");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat; }
    body .modal-content .modal-footer {
      border: none;
      padding: 0.25rem 0 1rem 0;
      text-align: center; }
      body .modal-content .modal-footer a {
        color: crimson; }
  body footer {
    padding: 10vh 0 1vh 0;
    text-align: center;
    justify-content: center;
    background: #222222; }
    body footer h1 {
      color: gold;
      font-weight: 700;
      line-height: 5rem; }
    body footer .icons {
      padding: 2.5rem 0; }
      body footer .icons a {
        padding: 2rem; }
        body footer .icons a svg {
          height: 5rem;
          width: 5rem;
          background: white;
          box-shadow: 0px 0px 7px -2px black;
          border-radius: 5px; }
          body footer .icons a svg path {
            fill: salmon; }
          body footer .icons a svg:hover {
            box-shadow: 0px 5px 10px -3px black; }
      body footer .icons .yt svg {
        background: crimson; }
    body footer .copyright {
      margin: 0 auto;
      max-width: 70%; }
      body footer .copyright p {
        color: grey; }
      body footer .copyright span {
        display: block;
        height: 2px;
        width: 100%;
        background: deeppink; }

.loader-wrapper .loader {
  position: relative;
  font-family: monospace;
  z-index: 1001; }
  .loader-wrapper .loader span {
    transform-origin: 50% 50%;
    transform: rotateX(0deg);
    position: absolute; }
  .loader-wrapper .loader .no-transition span {
    transition: all 0s !important;
    transform: rotateX(0deg) !important; }
  .loader-wrapper .loader span:nth-child(1) {
    transition: all 0.7s ease 0.125s;
    left: 31px; }
  .loader-wrapper .loader span:nth-child(2) {
    transition: all 0.7s ease 0.25s;
    left: 62px; }
  .loader-wrapper .loader span:nth-child(3) {
    transition: all 0.7s ease 0.375s;
    left: 93px; }
  .loader-wrapper .loader span:nth-child(4) {
    transition: all 0.7s ease 0.5s;
    left: 124px; }
  .loader-wrapper .loader span:nth-child(5) {
    transition: all 0.7s ease 0.625s;
    left: 155px; }
  .loader-wrapper .loader span:nth-child(6) {
    transition: all 0.7s ease 0.75s;
    left: 186px; }
  .loader-wrapper .loader span:nth-child(7) {
    transition: all 0.7s ease 0.875s;
    left: 217px; }
  .loader-wrapper .loader h1 {
    position: fixed;
    margin-top: -40px;
    top: 50%;
    width: 260px;
    height: 55px;
    margin-left: -130px;
    cursor: pointer;
    left: 50%;
    font-size: 47px;
    color: mediumspringgreen; }
.loader-wrapper .transition span {
  transform: rotateX(360deg); }
.loader-wrapper .loader-section {
  position: fixed;
  background: floralwhite;
  z-index: 1000; }
.loader-wrapper .section-left {
  left: 0;
  top: 0;
  width: 51%;
  height: 100%; }
.loader-wrapper .section-right {
  right: 0;
  top: 0;
  width: 51%;
  height: 100%; }
.loader-wrapper .section-top {
  top: 0;
  left: 0;
  width: 100%;
  height: 51%; }
.loader-wrapper .section-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 51%; }

.loaded .loader {
  opacity: 0;
  transition: all 0.3s; }
.loaded .loader-wrapper {
  transition: all 0.3s; }
  .loaded .loader-wrapper .section-left {
    transition: all 0.7s 0.4s cubic-bezier(0.6, 0.01, 0.3, 0.1);
    transform: translateX(-100%); }
  .loaded .loader-wrapper .section-right {
    transform: translateX(100%);
    transition: all 0.7s 0.4s cubic-bezier(0.6, 0.01, 0.3, 0.1); }
  .loaded .loader-wrapper .section-top {
    transition: all 0.7s 0.4s cubic-bezier(0.6, 0.01, 0.3, 0.1);
    transform: translateY(-100%); }
  .loaded .loader-wrapper .section-bottom {
    transform: translateY(100%);
    transition: all 0.7s 0.4s cubic-bezier(0.6, 0.01, 0.3, 0.1); }

/*# sourceMappingURL=main.css.map */
