@import "modules/bourbon/bourbon"
@import "modules/common"

body
  margin: 0
  background-color: $orange

  #particles-js
    position: absolute
    background: $dark-bg
    height: 100vh
    width: 100%
    z-index: -999
  .navbar
    height: 80px
    border: none
    border-radius: 0
    background: transparent
    margin: 0
    .container-fluid
      max-width: 1000px
      .navbar-brand
        color: $bold-text
        height: 80px
        padding:
          top: 30px
          bottom: 30px
        font:
          weight: 700
          style: italic
      ul
        li
          a
            color: $text
            height: 60px
            padding:
              top: 30px
              bottom: 30px
            font-size: 18px
            font-weight: 400
            &:hover
              color: $bold-text
          &:nth-child(1)
            a:hover
              border-bottom: 2px solid $red
          &:nth-child(2)
            a:hover
              border-bottom: 2px solid $violet
          &:nth-child(3)
            a:hover
              border-bottom: 2px solid $yellow
          &:nth-child(4)
            a:hover
              border-bottom: 2px solid $blue
          &:nth-child(5)
            a:hover
              border-bottom: 2px solid $orange
  header
    height: 100vh
    text-align: center
    background: transparent
    h1
      padding-top: 40vh
      text-align: center
      color: $yellow
      font-weight: 700
    h3
      margin:
        top: 30px
        bottom: 5vh
      text-align: center
      color: $text
      line-height: 40px
    a

      text-align: center
      color: white

      padding: 10px 20px
      border-radius: 5px

      background: $red
      transition: all 300ms ease-in-out
      &:hover
        border: 2px solid white
        background: transparent
