//common css settings

body,h1,h2,h3,h4,h5,h6,p
  margin: 0
a:hover
  text-decoration: none
a:focus
  outline: none
  text-decoration: none !important

//fonts


//variables

//backgrounds
$dark-bg: #222222
$bg: #323232
$light-bg: #525252

//accents
$violet: slateblue
$green: mediumspringgreen
$blue: dodgerblue
$red: crimson
$yellow: gold
$pink: deeppink
$orange: salmon

//text
$bold-text: white
$text: grey
$light-text: lightgrey
